@import '../../../assets/shared/Common.scss';

.Footer{
  padding: 50px;
  grid-column: 1/3;
  grid-row: 3/4;
  display: grid;
  grid-template: 1fr 1fr auto / repeat(3, 1fr);
  background-color: $background-main;
}
.Footer .block{
  color: #eee;
  justify-self: center;
  font-family: AndaleMono, Helvetica; //AndaleMono
  a{
    font-family: Helvetica;
    font-weight: normal;
    color: $color-aux;
    &:active{
      color: #ccc;
    }
  }
  h2{
    margin-bottom: 0;
  }
  ul{
    padding: 20px;
    margin: 0;
    list-style: none;
  }
  ul li{
    font-size: 20px;
    margin-top: 5px;
  }
  ul li a{
    &:hover{
      color: #bbb;
    }
    &:active{
      color: #aaa;
    }
  }
}
.Footer .contactLinks{
  grid-row: 2/3;
  grid-column: 2/3;
  @include flex(row, space-evenly, center);
  a {
    transition: filter .2s ease-in;
    &:hover{
      transition: filter .1s ease-in;
      filter: drop-shadow(0px 0px 3px #FFC300);
    }
  }
  a img{
    width: 30px;
  }
}
.Footer .others{
  grid-row: 3/4;
  grid-column: 1/4;
  @include flex(row, center, center);

  li {
    margin-left: 30px;
  }
  a{
    font-family: Tahoma, Arial, sans-serif;
    color: #ccc;
    &:hover{
      text-decoration: underline;
    }
  }
}