// $background-main: #222831;
$background-main: #1E212D;
$color-aux: #eee;
// $accent: #FFC300;
@mixin flex($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}
@mixin PostTheme{
  border: 1px solid #C6C9D2;
  border-radius: 10px;
  background-color: white;
}
@mixin PostTitle{
  font-weight: bolder;
  color: #4e4e4e;
  // force like h1
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
@mixin EditorContent{
  pre{
    padding: 16px;
    font-size: 14px;
  }
  section {
    background-color: #ddd;
    margin: 0;
    padding: 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #3b3b3b;
  }
}
.btn {
  background-color: #e7e7e7;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  min-width: 65px;
  transition: .1s ease-out;
  cursor: pointer;
  &.primary:hover{
    background-color: #569CD6;
    color: white;
    transition: .1s ease-out;
  }
  &.warning:hover{
    background-color: #ce4b00;
    color: white;
    transition: .1s ease-out;
  }
}
@keyframes Pulsating {
  0%   {transform: scale(1)}
  50%  {transform: scale(1.5)}
  100% {transform: scale(1)}
}
.LoadingDot{
  border-radius: 50%;
  background-color: #aaa;
  display: inline-block;
  width:  10px;
  height: 10px;
  animation: Pulsating 800ms infinite ease-in-out;
  margin: 5px 8px;
}