@import '../../../assets/shared/Common.scss';

.Title{
  @include PostTitle;
}
.PostBlock{
  padding: 10px 20px;
}
.TitleWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}