@import '../../assets/shared/Common.scss';

.Title{
  @include PostTitle;
}
.PostBlock{
  padding: 10px 20px;
  position: relative;
}
.WrapResponseError {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 15px;
  h1{
    text-align: center;
  }
}
.TitleWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.PostContent{
  @include EditorContent;
}
//post edit page
.EditTitle {
  // font-size: 34px;
  color: #7e7e7e;
  // font-weight: bold;
  border: none;
  outline: none;
  transition: cubic-bezier(0.23, 1, 0.320, 1) .3s;
  &:focus{
    color: #3b3b3b;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .3s;
  }
}
button[type='submit'] {
  position: relative;
  float: right;
  // background-color: #1E212D;
  font-size: 18px;
  width: 87px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffc300;
  color: #2b2b2b;
  font-family: Helvetica;
  cursor: pointer;
  margin-bottom: 20px;
  &:hover{
    background-color: #d3a200;
  }
  &:disabled{
    cursor: default;
  }
}