@import '../../assets/shared/Common.scss';

.Title{
  @include PostTitle;
}
.PostBlock{
  padding: 10px 20px;
  position: relative;
}
.TitleWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.PostContent{
  @include EditorContent;
}
//post edit page
.EditTitle {
  // font-size: 34px;
  color: #7e7e7e;
  // font-weight: bold;
  border: none;
  outline: none;
  transition: cubic-bezier(0.23, 1, 0.320, 1) .3s;
  &:focus{
    color: #3b3b3b;
    transition: cubic-bezier(0.23, 1, 0.320, 1) .3s;
  }
}